body {
  background-color: #eaf6f6;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 4%;
}

h3, h1 {
  color: #66bfbf;
}

img {
  border-radius: 100%;
}
